.section-1 {
    height: 560px;
    background-color: var(--color-light);
    display: grid;
    justify-content: center;
}

.section-1 .showcase-text {
    display: grid;
    align-content: center;
    justify-items: start;
    gap: 1rem;
}

.section-1 .showcase-text h1 {
    width: 487px;
    font-family: var(--medium);
    font-size: 2.1rem;
    line-height: 2.8rem;
    color: var(--color-black);
}

.section-1 .showcase-text h1 span {
    color: var(--color-purple);
}

.section-1 .showcase-text p {
    width: 530px;
    font-family: var(--regular);
    font-size: 1.5rem;
    line-height: 2.25rem;
}

.section-1 .showcase-text button {
    width: 215px;
    height: 50px;
    border-radius: 4px;
    background-color: var(--color-purple);
    cursor: pointer;
    color: var(--color-white);
    text-align: center;
    font-family: var(--bold);
    font-size: 1.125rem;
    line-height: 1.375rem;
}

.section-1 img {
    width: 400px;
    height: 460px;
}
